<div class="row">
  <div class="col s12 m12">
    <div class="card grey darken-2">
      <div class="card-content white-text">
        <span class="card-title center">
          <strong>Candidatos</strong>
        </span>
      </div>
    </div>
  </div>

  <div style="margin: 0 25px;" *ngFor="let cargo of cargos" class="col s6 m2">
    <div class="card grey darken-2">
      <div class="card-content white-text center">
        <a (click)="selecionaCargo(cargo)" class="waves-effect waves-light btn-large grey darken-2 z-depth-0">
          <strong>{{cargo}}</strong>
        </a>
      </div>
    </div>
  </div>

</div>