<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#" class="brand-logo">Eleições War</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">Candidatos</a>
        </li>
        <li>
          <a href="#">Boca de Urna</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<nav>
  <div class="nav-wrapper grey darken-3">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

<br>

<app-homepage></app-homepage>